<div class="container p-4">
    <h2>Editer un bien</h2>
    <form [formGroup]="bienForm" (ngSubmit)="editBien()">
        <div class="row"> 
            <label for="title" id="title">Titre du bien</label>           
            <input class="col-md-4 m-2" id="title" type="text" formControlName="title" placeholder="Titre du bien">
            <label for="surface" id="surface">Surface</label>
            <input class="col-md-4 m-2" id="surface" type="number" formControlName="surface" placeholder="Surface">
            <label for="price" id="price">Prix</label>
            <input class="col-md-4 m-2" id="price" type="number" formControlName="price" placeholder="Prix">
            <label for="type" id="type">Type de bien</label>
            <select class="col-md-4 m-2" formControlName="type" id="type">
                <option value="Appartement">Appartement</option>
                <option value="Maison">Maison</option>
                <option value="Duplex">Duplex</option>
                <option value="Souplex">Souplex</option>
                <option value="Penthouse">Penthouse</option>
                <option value="Studio">Studio</option>
                <option value="Garage">Garage</option>
                <option value="Terrain">Terrain</option>
            </select>            
        </div>

        <div class="row">
            <label for="rooms" id="rooms">N° de pièces</label>
            <input class="col-md-4 m-2" id="rooms" type="number" formControlName="rooms" placeholder="N° de pièces">
            <label for="bedrooms" id="bedrooms">N° de chambres</label>
            <input class="col-md-4 m-2" id="bedrooms" type="number" formControlName="bedrooms" placeholder="N° de chambres">
            <label for="heat" id="heat">Type de chauffage</label>
            <select class="col-md-4 m-2" formControlName="heat" id="heat">
                <option value="mazout">Mazout</option>
                <option value="gaz">Gaz</option>
                <option value="electrique">Electrique</option>
                <option value="noChauffage">Pas de chauffage</option>
            </select>
            <label for="floor" id="floor">Etage du bien</label>
            <input class="col-md-4 m-2" id="floor" type="number" formControlName="floor" placeholder="Etage">
        </div>        
        
        <div class="row">
            <label for="address" id="address">Adresse</label>
            <input class="col-md-4 m-2" id="address" type="text" formControlName="address" placeholder="Adresse">
            <label for="city" id="city">Ville</label>
            <input class="col-md-4 m-2" id="city" type="text" formControlName="city" placeholder="Ville">
            <label for="postal_code" id="postal_code">Code postal</label>
            <input class="col-md-4 m-2" id="postal_code" type="text" formControlName="postal_code" placeholder="Code postal">
            <label for="description" id="description">Description</label>
            <input class="col-md-4 m-2" id="description" type="text" formControlName="description" placeholder="Description">       
        </div>
        
        <div class="row">
            <label for="sold" id="sold">Vendu?</label>
            <input class="col-md-4 m-2" id="sold" type="boolean" formControlName="sold" placeholder="Vendu?">
            <label for="image_front" id="image_front">Image </label>
            <input class="col-md-4 m-2" id="image_front" type="file"[src]="" formControlName="image_front">
        </div>        
        
        <input class="btn btn-primary mt-4" type="submit" value="Editer le bien">
    
    </form>
</div>
