
    <div class="container text-center p-5">
        <h1 >Json Immo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, aliquid omnis nam ratione eius consequuntur id officia molestiae iste doloremque perferendis aut accusamus magnam esse excepturi quisquam pariatur rerum harum!
            Dolore ex tenetur consectetur! Necessitatibus deserunt ipsa repellat animi saepe porro, eos modi eligendi officia perferendis delectus molestiae impedit unde ullam ipsam assumenda labore ad omnis aliquid maxime voluptatibus cupiditate.
            Fuga inventore quos corrupti iste, quisquam quaerat, harum vitae reprehenderit temporibus ducimus mollitia incidunt quis quae magnam laboriosam illo perferendis sequi vero! Aliquam in incidunt temporibus quis ipsum molestias porro?
            </p>
    </div>

    <div class="container pt-5">
        <div class="row">
          <h1>Nos derniers biens en vente</h1>
            <div class="card m-3" style="width: 18rem;" *ngFor="let b of biens" >
                    <img class="card-img-top mt-2" id="image_front" [src]="b.image_front | toImage">
                <div class="card-body" >
                  <h5 class="card-title" >{{b.title}}</h5>
                  <p class="card-text">{{b.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{b.rooms}} pièces - {{b.bedrooms}} <i class="fa fa-bed"></i></li>
                  <li class="list-group-item">{{b.surface}} m²</li>
                  <li class="list-group-item">{{b.price | number: ''}} €</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link btn btn-primary" [routerLink]="['/show', b.id]">+ d'infos</a>
                </div>
              </div>
        </div>
    </div>

